@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    font-family: "Inter", sans-serif;
   
 max-width: 1440px;
 margin: 0 auto;
/* background-color: black; */
}
@font-face {
    font-family: miama;
    src: url(Miama-Regular.woff);
}
/* default styles */
#miama{
    font-family:miama ;
   background: none;
   font-weight: 500;
   font-style: italic;
   font-size: 100%;
   line-height: 20px;
}
.container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 5rem auto;
}
.head-tittle{
    font-size: 48px;
font-weight: 900;
color: rgb(255, 255, 255);
}
.head-description{
font-size: 14px;
font-weight: 400;
color: rgba(255, 255, 255, 0.5);

}
span{
   

    padding: 8px 20px 8px 20px;
    border-radius: 46px;

background: rgb(230, 83, 60);
}
/* default styles end */
.header{
   

/* height: 715px; */
/* margin: 0 auto; */
background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
background-color: black;
}
.hum-barger{
    display: none;
}
.nav-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 5rem auto; */
  

}
.nav-logo{
    margin-left: 190px;
    font-weight: 800;
    font-size: 35px;
    color: rgb(230, 83, 60);
}
.navbar{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    padding: 4px;
    margin-right: 190px;
    /* box-sizing: border-box; */
    width: 465px;
height: 46px;
align-items: center;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.1);
 font-size: 18px;
font-weight: 400;
color: rgb(255, 255, 255);
}
/* get body styles here */
.get-body{
 display: flex;
justify-content: space-between;
/* width: 100%;
height: 100vh; */
}
.get-body-tittle{
    margin-left: 190px;
    /* margin-top: 80px; */
    width: 520px;
    /* height: 439px; */
    height: auto;
    margin-bottom: 77px;
}
.body-tittle{
font-size: 78px;
font-weight: 900;
color: rgb(255, 255, 255);
}
.body-description{
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.5);
   
}
.get-btn{
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
color:rgb(255, 255, 255) ;
background: rgb(230, 83, 60);
border: none;
}
.get-app{
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
}
.image-get-body img{
margin-right:214px ;
margin-top: 50px;

height: auto;
width: 100%;
}
.image-get-body{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.video-tutorial{
position: absolute;
bottom: 80px;
left: -100px;

color:rgb(255, 255, 255) ;
width: 180px;

height: 96px;

padding: 0 auto;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

text-align: center;
background: blur(20px);
background: rgba(48, 48, 48, 0.54);
}
.video-tutorial>h3{
    font-size: 24px;
font-weight: 900;
/* line-height: 24px; */

}
.middle{
  top: 10px;
  right: 20px;

  position: absolute;

}
.ball{
    position: relative;
    width: 40px;
height: 40px;
left: 10px;
top: 30px;
    border-radius: 50%;
 background: rgb(230, 83, 60);
}


.free-videos {
    position: absolute;
 right: 180px;
 top: 200px;
   width: 193px;
height: 98px;


padding: 0 auto;

box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
text-align: center;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
   color: rgb(255, 255, 255);
}

.free-videos>h3{
 
font-size: 24px;
font-weight: 900;
line-height: 24px;
}
/* change your havbits styles here */

.main{
  
}
.your-habits{
    /* margin-top: 130px; */
    background:black;
  /* margin-bottom: 91px; */
  
   
}
.change-habits{
    /* width: 1044px; */
width: 1044px;

padding-top: 50px;
    justify-content: center;
    align-items: center;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 58px;
}

.habits-photo {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 190px;
    margin-right: 190px;
   padding-bottom: 100px;
 
 
}
.habits-photo img{
border-radius: 50%;

}
.movement-head{
   
font-size: 18px;
font-weight: 600;
color: rgb(255, 255, 255);

/* margin-left: 190px;
margin-right: 190px; */

justify-content: space-around ;

}
.movementh3,.head-descriptionp{
    width: 231px;
}
.head-descriptionp{
    font-size: 14px;
font-weight: 400;
color: rgba(255, 255, 255, 0.5);
}
/* run extra section */
.run-extra{
    width: 100%;
    border-radius: 18px;

background: rgb(34, 34, 34);
display: flex;

margin-left: 130px;
margin-right: 130px;
}
.run-image img {
    width: 366px;
    height: 312px;
    /* margin: 62px 0px; */
}
.run-image{
   margin-top: 30px;
   margin-bottom: 30px;
   
   justify-content: center;
  
}
.run-easily{
    /* width: 443px; */
    width: auto;
height: auto;
padding-left: 40px;
margin-right: 165px;
}
.get-btn{
    margin-top: 34px;
    margin-bottom: 20px;
  
    
}
  /* BMI calculater styles */
  .bmi-calculater{
/* text-align: center; */
padding-bottom: 90px;
width: 671px;
/* height: 120px; */
height: auto;
margin: 2rem auto;
  }

.bmi-container{
    width: 1440px;
     /* height: 487px;  */
     height: auto;
   
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
   
}
.calculater-chart{
   margin-left: 190px;
   margin-top: 52px;
  
}
.calculate-bmi{
    width: 440px;
    /* height: 34px; */
    height: auto;
    margin-right: 190px;
    margin-top: 45px;
}
.chart-tittle{
font-size: 28px;
font-weight: 900;
color: rgb(255, 255, 255);
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 10px;
    font-size: 14px;
font-weight: 400;
color: rgba(255, 255, 255, 0.5);
}

.form{
    /* display: flex;
    flex-direction: column; */
}
input{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
   border: none;
color: rgba(255, 255, 255, 0.6);
background: rgba(255, 255, 255, 0.1);
}
#factor{
    width: 360px;
    padding-top: -34px;
}
.btn-calculater{
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
color:rgb(255, 255, 255) ;
background: rgb(230, 83, 60);
width: 224px;
border: none;
}

/* meet our team styles */
.team{

}
.our-team{
   
    /* width: 1044px; */
width: auto;

    justify-content: center;
    align-items: center;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 58px;
}
.team-image-container img{
    /* width: 100%;
    height: 100%; */
   display: flex;
   width: 326.67px;
height: 272px;
/* height: auto; */
    /* margin: 20px 0px; */
    margin: 10px 0px;
background-color: rgba(0, 0, 0, 0.2);
filter: brightness(80%);
border-radius: 18px;
}
.team-image-container{

display: grid;
grid-template-columns: repeat(3,1fr);
gap:1rem ;
width: 1060px;
/* height: 604px; */
height: auto;
margin: 2rem auto;
padding: 20px;


background: rgba(255, 255, 255, 0.1);

}
.trainer-name{
   position: relative;
}
.name{
    color: white;
    position: absolute;
    top: 70%;
}
.trainer{
    position: absolute;
    color:  rgba(255, 255, 255, 0.5);
    top: 80%;
}
/* footer styles */
.footer{
    
    background: rgba(255, 255, 255, 0.1);
    width: 1440px;
    height: 400px;

}
.footer-section{
  
    /* width: 1059px;
    height: 249px; */
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  padding: 2rem auto;
  margin-left: 190px;
  margin-right: 190px;
  margin-top: 60px; 
  gap: 60px;

}
.footer-logo{
    font-weight: 800;
    font-size: 35px;
    color: rgb(230, 83, 60);
}

.fitness{
    width: 443px; 
}
.get-start{
    width: 440px;
}
.get-start> h3,p{
color: white;

}
.get-start> p{
color: rgba(255, 255, 255, 0.5);
}
.footer hr{
    width: 1059.5px;
height: 0;
margin: 2rem auto;

}
.copy{
text-align: center;
}
/* mobile responsive */
@media screen and (max-width:576px) {
body{
    /* width: 400px; */
    width: 400px;
    height: 1024px;
    left: 0;
top: 0;
}
    .hum-barger{
        display: block;
       justify-content: center;
       align-items: center;
       text-align: center;
       color: white;

       }
       .hum-barger i{
        font-size: 26px;
       }
        .container{
            margin: 3rem auto;
    flex-direction: column;
    align-items: flex-start;
   }

   .nav-logo{
    margin-left: 20px;
    font-size: 36px;
font-weight: 900;
margin-top: 52px;

   }
   .navbar{
    display: none;
   }
   .get-body{
    flex-direction: column;
    /* align-items: center; */
   }
   .get-body-tittle{
    margin-left: 0;
    /* text-align: center; */
    width: 100%;
    margin-bottom: 20px;
   }
   .body-tittle{
    font-size: 36px;
font-weight: 900;
    width: 285px;
height: 129px;
margin-left: 20px;
   }
   .body-description{
    width: 274px;
height: 96px;
font-size: 16px;
font-weight: 400;
margin-left: 20px;
   }
   .get-body-tittle .get-btn,.get-app{
 
    gap: 20px;
   }
   .image-get-body img{
    margin-right: 0;
    margin-top: 20px;
    width: 100%;
    height: auto;
    left: 0;
top: 0;
   }
   .video-tutorial{
    position: absolute;
    left: 32px;
    /* bottom: 100px;
    width: auto;
height: auto; */
width: 160px;
height: 100px;
left: 32px;
bottom: 250px;
box-sizing: border-box;
border: 0.76px solid rgba(255, 255, 255, 0.1);
border-radius: 9.07px;

backdrop-filter: blur(15.12px);
background: rgba(48, 48, 48, 0.54);
   }
  .middle>p{
    font-size: 16px;
font-weight: 400;
color: rgba(239, 237, 232, 0.65);
  }
   .video-tutorial>h3{
    font-size: 18px;
   }
   .free-videos{
    position: absolute;
   /* right: 50px; */
   top: 50px;
   right:20px ;
width: 170px;
/* height: 70px; */
height: auto;
   
   }

   .change-habits{
    width: 318px;
height: 38px;
   }

   .head-description{
    margin-bottom: 20px;
   }
   .head-tittle{
    font-size: 32px;
font-weight: 900;
line-height: 120%;
margin: 0 auto;
   }
   .chart-tittle{
    font-size: 16px;
font-weight: 900;
line-height: 120%;
   }
   .head-description{
    font-size: 14px;
font-weight: 400;
line-height: 24px;
margin: 0 auto;
   }
   .habits-photo{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* margin: 58px 0px; */
    margin: 2rem auto;
    padding: 0px;
    height: auto;
   }
   .movement-head,.run-extra,.our-team{
  align-items: center;
  text-align: center;
margin: 0 auto;
    justify-content: center;
    padding: auto;
    flex-direction: column;
  
   }
   .movement-head{
    /* margin-top: 20px;
    padding-top: 20px; */
    /* margin: none; */
   }
   .head-tittle{
    width: 287px;
height: 76px;
font-size: 32px;
font-weight: 900;
line-height: 120%;
margin-bottom: 20px;
   }
   .run-easily{
    padding: 25px;
    max-width: 300px;
    text-align: left;
    margin: 0 auto;
    
   }
   .change-habits{
    width: 316px;
/* height: 72px; */
/* height: 124px; */
margin-bottom: 100px;
align-items: center;
justify-content: flex-start;
text-align: center;
   }
    .run-easily>button{
    /* padding: 16px 40px 16px 40px;
    margin: 24px 0px; */
    width: 287px;
height: 54px;
   }
   .run-image img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    top: 20px;
   }
   /* .run-extra{
    margin: 2rem auto;
   } */
   .bmi-container{
    flex-direction: column;
    width: 100%;
    height: auto;
 
 
   
   }
   .bmi-calculater{
    display: flex;
    flex-direction: column;
    width: 353px;
height: 72px;
   }
   .calculate-bmi{
    flex-direction: column;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
    width: 353px;
height: auto;
   }

   
  
.bmi-form{
    /* width: auto; */
    width: 390px;
    height: 168px;
    /* height: auto; */
}


#placeholder{
    width: 150.5px;
height: 48px;
padding: 12px 40px 12px 20px;
margin: 0px 12px;
justify-content: flex-start;
display: grid;
grid-template-columns: repeat(2,1fr);
align-items: center;
border-radius: 8px;

background: rgba(255, 255, 255, 0.1);
}
#factor{
    width: 353px;
height: 48px;
    padding-top: -34px;
    margin-bottom: 20px;
}

   .bmi-calculater>h3{
    margin-left: 20px;
   }
   .bmi-calculater>p{
    margin-left: 20px;
   }
   .calculater-chart{
    flex-direction: column;
    margin: 10px;
    text-align: left;
    padding: 20px;
  
   }
  .team-image-container{
    /* width: 100%; */
     width: 353px;;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
   
    margin: 20px 0px;
}
.team-image-container img{
    justify-content: center;
    align-items: center;
   
    /* margin: 2rem auto; */
    /* margin:  20px; */
    /* margin-left: 20px; */
  /* padding: 0 auto; */
  /* max-width: 100%; */
  height: auto;
 
}
.trainer-name{
    margin: 0 auto;
}
.our-team{
    /* width: 309px;
    height: 124px;
    margin: 0 auto;  */
    display: flex;
    flex-direction: column;
    width: 353px;
height: 72px;
margin-top: 20px;
padding: 20px;
}
.our-team>h3{
    margin-top: 10px;
}
.calculate-bmi{
    /* margin: 0 auto; */
    flex-direction: column;
    /* margin: 30px; */
    /* text-align: left; */
    /* text-align: center; */
    margin-bottom: 20px;
    align-items: flex-start;
    width: 354px;
height: 395px;
text-align: justify;

}

.footer-section{
    /* margin: 2rem auto; */
    margin:0 auto;
   /* left: 0; */
    flex-direction: column;
    gap: none;
    width: 353px;
height: auto;

align-items: flex-start;
}
.footer{
    width: auto;
    height: auto;
   
    background: rgba(255, 255, 255, 0.1);
}
.footer-logo,.get-start{
    /* margin: 20px 0px; */
    align-items: flex-start;
padding: 0px;
}
.get-start{
    padding: 2rem auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px; 
    gap: 0px;
}
.footer-logo{
    font-size: 70px;
font-weight: 800;
margin: 10px;
text-align: justify;

}
.fitness>p{
    width: 317px;
height: 96px;
justify-content: flex-start;
margin: 20px 0px;
}
.start{
    font-size: 32px;
font-weight: 700;
}
.copy{
   padding: 40px 10px;
    font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
color:rgba(255, 255, 255, 0.5);
}
}
